*{
    font-family: "nunito";
    scroll-behavior: smooth;
}
/* 
window.scroll{
    top: 2500; 
    left: 0;
    behavior: smooth
  } */

.buttonsmain{
    display: flex;
    /* justify-content:space-around ; */
    width:"80%";
    justify-content: center;
    /* margin: 0 auto !important   ; */
    /*        */
    gap:5px;
   
    border-radius: 0px;
    margin: auto;
    /* position: fixed; */
    top: 0;
    /* left: 0;
    right: 0;  */
    z-index: 999;
    /* text-align: center;
align-items: center;
justify-content: center; */
/* overflow: hidden; */
/* position: auto; */
/* width: 100%; */
z-index: 999;

   
    }

    .button-ta{
     
        border-radius: 10%;
    
         height: 50px;
         /* margin-top: 10px !important; */
         width: 239.75px; 
        /* height: 100px;  */
        border-radius: 0px;
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 24px;

/* identical to box height */

text-align: center;
align-items: center;
justify-content: center;


background-color: #f1f1f1;
color: #000000;


    }
    .button-ta div{
        margin-top: 10px;
    }

    .button-ta a :hover{
         text-decoration: none;
         border: none;
    }

    
.buttonsmain :hover{
        color:#FE602F;
        background-color: white;
        border:1px solid #FE602F
    }
    .title-tab{
       
        /* margin: auto; */
        margin-top: 1%;
        align-items: center;
        /* margin: auto; */
        
        justify-content: center;
        /* background-color: #f1f1f1; */
        /* position: fixed;
        z-index: 999; */
        /* margin: auto; */
        /* margin-left: 10%; */
    }
    .Learn-title{
        font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
/* identical to box height */
text-align: center;
color: #000000;
margin-top: 5%;
    }

   .ulko  ul li::before { 
        list-style-type: none;
         content: "\2022"; 
        color: #FE602F !important; 
        font-weight: bold;
         display: inline-block;
         width: 1em;
         margin-left: -0.9em; 
         margin-top: -1em;
       }
    /* .LearnFlex{
        display: flex;
        margin: auto;
        margin-top: 115px; */
        /* margin-bottom: 15%; */
        /* justify-content: space-between; */
        /* gap:92px; */
        
    /* } */
    .LearnLeft{
    font-family: "poppins";
        width: 650px;
height: 368px;
margin-left: 80px;
margin-top: 4%;
top: 234px;

/*  */
    }
.LearnRight{
    margin-left: 5%;
    margin-bottom: .35%;
  

}





.title-tab{
width: 100%;
    background-color: #fff;
    /* margin-top: 1.3%; */
    /* position: fixed; */
    /* margin-bottom: 20%; */
   position: -webkit-sticky; /* Safari */
  position: sticky;
  top:0;
  


}

.Navv {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    /* position: fixed !important; */
    width: 100%;
    height: 68px;
    /* z-index: 1234567890; */
    /* top: 9999; */
    /* background: rgb(137 123 123 / 50%); */
    /* margin-top: 10px; */
    opacity: 100%;
    height:64px;
    background-color: #FFFFFF;
    margin-top: 0% !important;
  
  
  
    /* background: rgb(78 74 74 / 50%); */
  
  }
  .LearnFlex1{
    display: flex;
    margin: auto;
    /* margin-top: 10%; */
    /* position: absolute; */
    /* margin-bottom: 15%; */
    /* justify-content: space-between; */
    /* gap:92px; */
    
}
.LearnFlex2{
    display: flex;
    margin: auto;
    margin-top: 2%;
    /* margin-top: 115px; */
    /* margin-top: 239px; */
    /* margin-bottom: 15%; */
    /* justify-content: space-between; */
    /* gap:92px; */
    
}
.LearnFlex3{
    display: flex;
    margin: auto;
    /* margin-top: 115px;
    margin-top: 239px; */
    /* margin-bottom: 15%; */
    /* justify-content: space-between; */
    /* gap:92px; */
    
}
.LearnFlex4{
    display: flex;
    margin: auto;
    /* margin-top: 115px;
    margin-top: 239px; */
    margin-bottom: 10%;
    /* justify-content: space-between; */
    /* gap:92px; */
    
}