


.buttonsmain{
    display: flex;
    /* justify-content:space-around ; */
    width:"80%";
    justify-content: center;
    /* margin: 0 auto !important   ; */
    /*        */
    gap:5px;
   
    border-radius: 0px;
    /* margin: auto; */
    /* text-align: center;
align-items: center;
justify-content: center; */
   
    }

    .button-ta{
     
        border-radius: 10%;
    
         height: 50px;
         /* margin-top: 10px !important; */
         width: 239.75px; 
        /* height: 100px;  */
        border-radius: 0px;
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 24px;
/* identical to box height */

text-align: center;
align-items: center;
justify-content: center;
/* margin: auto; */

background-color: #f1f1f1;
color: #000000;
position: relative;
z-index: 1;
/* margin-top: 20px !important; */

    }
    .button-ta div{
        margin-top: 10px;
    }

    .button-ta div :hover{
         text-decoration: none;
         border: none;
    }

    
.buttonsmain :hover{
        color:blue;
        background-color: white;
        border:1px solid blue
    }
    .title-tab{
       
        /* margin: auto; */
        margin-top: 10%;
        align-items: center;
        /* margin: auto; */
        
        justify-content: center;
        /* margin: auto; */
        /* margin-left: 10%; */
    }
    .Learn-title{
        font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
/* identical to box height */

text-align: center;

color: #000000;

    }

    .ulko ul li::before { 
        list-style-type: none;
         content: "\2022"; 
        color: #FE602F !important; 
        font-weight: bold;
         display: inline-block;
         width: 1em;
         margin-left: -1em; 
       }
    .LearnFlex{
        display: flex;
        margin: auto;
        /* margin-top: 115px; */
        /* margin-bottom: 15%; */
        /* justify-content: space-between; */
        /* gap:92px; */
        
    }
    .LearnLeft{
    font-family: "poppins";
        width: 650px;
height: 368px;
margin-left: 80px;
margin-top: 2%;
top: 234px;

/*  */
    }
.LearnRight{
    margin-left: 5%;
    margin-bottom: 7.35%;
  

}



.LearnFlex2{
    display: flex;
    margin: auto;

}