.solut-details-first{
  /* position: relative; */
    margin-top: 60px;
    background-color: linear-gradient(rgba(21, 23, 25, 1));
    object-fit: cover;
    /* linear-gradient(rgba(21, 23, 25, 1)) */
    /* z-index: 2; */
}
.solut-details-abso{
    position: absolute;
    width: 280px;
    height: 220px;
    /* left: 988px;
    top: 198px; */
    margin-left: 70%;
    margin-top: -35%;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.1em;
    text-align: left;
    
    color: #FFFFFF;
    /* z-index: 2; */
}
.solut-details-imgabso{
    position: absolute;
    margin-left: 78%;
    margin-top: -17%;

}
.sol-det-mtr{
    display: flex;
    /* gap:10%; */
    margin-top: 50px;
    
    width:98%;
    border:1px solid #acacac;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 3%;
    /* margin: auto; */
    /* justify-content: space-around; */
}

.sol-det-imgdiv{
    /* border:1px solid red; */
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4%;
}
.sol-det-imgtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 4%;
    /* identical to box height */
    
    text-align: center;
    
    color: #7C8486;
    width: 300px;
height: 55px;
left: 141px;
/* top: 1608.43px; */
    
}
.sol-detdesctitle{
    font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.1em;
/* margin-top: 5%; */

color: #000000;
text-align: center;
}
.soldetails-flex1st{
    display: flex;
    /* gap:10%; */
    margin-top: 5%;
    
}
.soldetails-flex1stleft{
    margin-left: 5%;
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 50px;
letter-spacing: 0.1em;

color: #000000;
}

.soldetails-flex2st{
    /* margin-left: 10%; */
    display: flex;
    gap:10%;
    margin-top: 2%;

}

/* full stack */

.mernpic{
    position: absolute;
    margin-top: -40%;
    margin-left: 22%;
    object-fit: cover;
}
.mernpic img{
    object-fit: cover;
}
/* AI PAGE */


.aicont{

    /* column-gap: 30px; */

    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 10%;

margin: auto;
margin-top: 10%;
    /* width:400px; */
    /* border:1px solid red; */

}

.aiimgtit{
    text-align: center;
    font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.06em;

color: #000000;
margin-top: 3%;
}

.soldetails-flex1stAi{
    display: flex;
    /* gap:3%; */
    margin-top: 5%;

}

/* bot */
.soldetails-flex1stbot{
    display: flex;
    /* gap:10%; */
    margin-top: 5%;
    /* width:500px; */
    /* border: 1px solid red; */

}
.soldetails-flex1stleftbot{
    margin-left: 7%;
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 50px;
letter-spacing: 0.1em;
text-align: center;
/* width:700px; */
/* height:200px; */

color: #000000;

}
.botpicabso{
position: absolute;
margin-top: -45%;
}